@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap");
/*-------------------------General Styling and Layout-------------------------*/
:root {
  --primary-color: hsl(237, 18%, 59%);
  --secondary-color: hsl(345, 95%, 68%);
  --desaturated-blue: hsl(236, 21%, 26%);
  --dark-blue: hsl(235, 16%, 14%);
  --black-blue: #231c2b;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--black-blue);
  background-image: url(../images/bg-stars.svg),
    url(../images/pattern-hills.svg);
  background-position: center center, right bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 4rem;
  text-transform: uppercase;
  position: relative;
}
.container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
  text-align: center;
}
.socials {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

/*-------------------------Countdown Styling-------------------------*/
h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 8px;
}
.countdown-container {
  display: flex;
  color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}
.countdown-container .countdown {
  display: flex;
  flex-direction: column;
}

.countdown-container .countdown:not(:last-child) {
  margin-right: 30px;
}
.countdown-container .countdown .number {
  background-color: var(--desaturated-blue);
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}
.countdown-container .countdown .number::after {
  visibility: var(--show);
  background-color: var(--dark-blue);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-origin: center center;
  animation-name: flip;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.countdown-container .countdown .number strong {
  color: var(--secondary-color);
  font-family: monospace;
  font-size: 70px;
  position: relative;
  z-index: 2;
}
.countdown-container .countdown small {
  font-weight: 700;
  letter-spacing: 3px;
}
/*-------------------------Socials Styling-------------------------*/
.socials a {
  margin: 0 10px;
}
.socials a img {
  transition: transform 0.2s ease-in-out;
}
.socials a:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(180deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(360deg);
  }
}
/*-------------------------Media Queries-------------------------*/
@media (max-width: 550px) {
  .container {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translateX(0) translateY(0%);
    margin: 4rem auto;
  }
  .socials {
    position: absolute;
    bottom: 0%;
    margin-bottom: 2rem;
  }
  .countdown-container {
    flex-direction: column;
  }
  .countdown-container .countdown:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
